@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #D93537;
  --color-secondary: #B51822;
  --color-fadedPrimary: #FFF0EF;
  --color-thickPrimary: #410004;
  --color-stroke: #E4BEBA;  
  --color-tableHeading: #414141;
  --color-tableData: #191717;
  --color-fadedBlack: #fbfcfb;
  --color-tableBorder: #e8e8e8;
}

* {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.styled-scrollbar::-webkit-scrollbar {
  @apply w-1 h-1;
}

html {
  scroll-behavior: smooth;
}